<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>

    <base href="http://localhost/kaswati/ecommerce/">

    <!-- Bootstrap core CSS -->
    <link href="{{ app_base }}/assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ app_base }}/assets/css/login_customer.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="container">
      {% if errors != null %}
        <div class="alert alert-danger alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <P>{{ errors }}</P>
        </div>
      {% endif %}
      <form action="" method="POST" class="form-login" role="form">
        <a href=""><span class="glyphicon glyphicon-arrow-left"></span> Back to Home</a>
        <h2 class="form-login-heading">Please Log in</h2>
        <input type="email"  name="email" class="form-control" placeholder="Email address" required autofocus>
        <input type="password" name="password" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button> <center><h3>Or</h3></center>
        <a href="new-customer" class="btn btn-lg btn-success btn-block" type="submit">Register</a>
      </form>

    </div> <!-- /container -->

    <script type="text/javascript" src="{{ app_base }}/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ app_base }}/assets/js/bootstrap.min.js"></script>
    
  </body>
</html>
